xml/schema/filter_cgi.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_cgi =
  attribute type { "cgi" },
  element mp:documentroot { xsd:string },
  element mp:env {
    attribute name { xsd:string },
    attribute value { xsd:string }
  }*,
  element mp:map {
    attribute path { xsd:string },
    attribute exec { xsd:string }
  }*
