xml/schema/filter_z3950_client.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_z3950_client =
  attribute type { "z3950_client" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:timeout { xsd:integer }?,
  element mp:default_target { xsd:string }?,
  element mp:force_target { xsd:string }?,
  element mp:force_close { xsd:boolean }?

