xml/schema/filter_http_client.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_http_client =
  attribute type { "http_client" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:default-host { xsd:string }?,
  element mp:max-redirects { xsd:integer }?,
  element mp:proxy { xsd:string }?,
  element mp:x-forwarded-for { xsd:boolean }?,
  element mp:bind_host { xsd:boolean }?

