xml/schema/filter_limit.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_limit =
  attribute type { "limit" },
  element mp:limit {
    attribute bandwidth { xsd:integer }?,
    attribute pdu { xsd:integer }?,
    attribute search { xsd:integer }?,
    attribute retrieve { xsd:integer }?
  }?

