xml/schema/filter_http_file.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_http_file =
  attribute type { "http_file" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:mimetypes { xsd:string },
  element mp:area {
    element mp:documentroot { xsd:string },
    element mp:prefix { xsd:string },
    element mp:raw { xsd:boolean }?,
    element mp:passthru { xsd:boolean }?
  }*

