xml/schema/filter_cql_rpn.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_cql_rpn =
  attribute type { "cql_rpn" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:conversion {
    attribute file { xsd:string },
    attribute reverse { xsd:boolean }?
  }
