xml/schema/filter_present_chunk.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_present_chunk =
  attribute type { "present_chunk" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:chunk { xsd:integer }?
