xml/schema/filter_query_rewrite.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_query_rewrite =
  attribute type { "query_rewrite" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:xslt { 
        attribute stylesheet { xsd:string }
  }?,
  element mp:charset { 
        attribute from { xsd:string }?,
        attribute to { xsd:string }?
  }?
