xml/schema/filter_multi.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_multi =
  attribute type { "multi" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:target {
    attribute route { xsd:string },
    attribute auth { xsd:string }?,
    xsd:string
  }*,
  element mp:hideunavailable { empty }?,
  element mp:hideerrors { empty }?,
  element mp:mergetype { xsd:string }?

