xml/schema/filter_auth_simple.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_auth_simple =
  attribute type { "auth_simple" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:userRegister { xsd:string }?,
  element mp:targetRegister { xsd:string }?,
  element mp:discardUnauthorisedTargets { empty }?
