xml/schema/filter_sru_z3950.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

filter_sru_z3950 =
  attribute type { "sru_z3950" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:stylesheet { xsd:string }?,
  element mp:database {  
     attribute name { xsd:NCName },
     any        
  }*
