xml/schema/filter_frontend_net.rnc

# Metaproxy XML config file schemas

namespace mp = "http://indexdata.com/metaproxy"

filter_frontend_net =
  attribute type { "frontend_net" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:threads { xsd:integer }?,
  element mp:port {
    attribute route { xsd:NCName }?,
    xsd:string
  }+,
  element mp:timeout { xsd:integer }?,
  element mp:connect-max { xsd:integer }?,
  element mp:message { xsd:string }?

