xml/schema/filter_virt_db.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_virt_db =
  attribute type { "virt_db" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  element mp:pass-vhosts { xsd:boolean }?,
  element mp:torus {
    attribute url { xsd:string }
  }?,
  element mp:virtual {
    attribute route { xsd:NCName }?,
    element mp:database { xsd:string },
    element mp:target { xsd:string }+
  }*

