xml/schema/filter_cgi.rnc

# Metaproxy XML config file schema

namespace mp = "http://indexdata.com/metaproxy"

filter_cgi =
  attribute type { "cgi" },
  element mp:map {
    attribute path { xsd:string },
    attribute exec { xsd:string }
  }*,
  element mp:env {
    attribute name { xsd:string },
    attribute value { xsd:string }
  }*

 