xml/schema/filter_record_transform.rnc

# Metaproxy XML config file schemas
#
#   Copyright (C) Index Data
#   See the LICENSE file for details.

namespace mp = "http://indexdata.com/metaproxy"

include "retrievalinfo.rnc"

filter_record_transform =
  attribute type { "record_transform" },
  attribute id { xsd:NCName }?,
  attribute name { xsd:NCName }?,
  retrievalinfo 
